Q. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [2]:
flovalue=4.5
print(type(flovalue))
print(id(flovalue))

<class 'float'>
2360624724752

Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [5]:
flo1=6.5
flo2=5.4
add=flo1+flo2
diff=flo1-flo2
mul=flo1*flo2
div=flo1/flo2
rem=flo1%flo2
quo=flo1//flo2
po=flo1**flo2
print(add)
print(diff)
print(mul)
print(div)
print(rem)
print(quo)
print(po)

11.9
1.0999999999999996
35.1
1.2037037037037037
1.0999999999999996
1.0
24531.953107684185

Q. Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [7]:
flo1=5.4
flo2=44.4
print(flo1>flo2)
print(flo1<flo2)
print(flo1>=flo2)
print(flo1<=flo2)

False
True
False
True

Q. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [9]:
flo1=55.4
flo2=9.99
print(flo1==flo2)
print(flo1!=flo2)

False
True

Logical operators
Observe the output of below code
Cross check the output manually
print(10.20 and 20.30) #both are true and second value taken
Output is 20.3
print(0.0 and 20.30) #First is false so first value
taken->Output is 0.0

print(20.30 and 0.0) #Goes to till second and second value is
false so second is taken>Output is 0.0
print(0.0 and 0.0) #First is false so first value is
taken->Output is 0.0
print(10.20 or 20.30) #First is True so first value is
taken>Output is 10.2
print(0.0 or 20.30) #Goes to till second and second is true
second value is taken->Output is 20.3
print(20.30 or 0.0) #First is True so first value is
taken->Output is 20.3
print(0.0 or 0.0) #Goes to till second and second is also
false and second value is taken>Output is 0.0
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

In [11]:
print(20.20 and 20.30)

20.3

In [13]:
print(0.0 and 20.30)

0.0

In [15]:
print(20.30 and 0.0)

0.0

In [17]:
print(10.20 or 20.30)

10.2

In [21]:
print(0.0 or 10.20)

10.2

In [23]:
print(20.30 or 0.0)

20.3

In [24]:
print(0.0 or 0.0)

0.0

In [26]:
print(not 10.0)

False

In [31]:
print(not 0.0)

True

Q. What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b = 10.20
print(a is b) #True or False? True 10.20<256
print(a is not b) #True or False? False
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

ans-->because memory reusability applies only for int values from -5 to 256 not for storing float values
a=c is true beause both variable a and c are pointing to one same loc

In [38]:
a = 10.20
b = 10.20
c=a
print(a is b)

False

In [36]:
print(a is not b)

True

In [41]:
print(id(a)==id(c))
print(a is c)

True
True

Q. Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values


ans-->because bits are form of integers only so bitwise operation only works with integers numbers or whole number
Object reusability concept is not applicable on float values
a=c beause both variable a and c are pointing to one same loc

In [45]:
a = 10.20
c=a
print(a is c)

True

Membership operation
in, not in are two membership operators and it returns boolean value
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

In [47]:
print('2.7' in 'Python2.7.8')

True

In [48]:
print(10.20 in [10,10.20,10+20j,'Python'])

True

In [49]:
print(10.20 in (10,10.20,10+20j,'Python'))

True

In [50]:
print(20.30 in {1,20.30,30+40j})

True

In [52]:
print(2.3 in {1:100, 2.3:200, 30+40j:300})

True

In [53]:
print(10 in range(20))

True